{
    "_comment": "This file contains the OAuth2 credentials for the Yahoo API. Please fill in the values and save it as oauth2.json in the secrets directory.",
    "access_token": "YOUR_ACCESS_TOKEN_HERE",
    "consumer_key": "YOur_consumer_key_here",
    "consumer_secret": "YOUR_consumer_secret_here",
    "guid": null,
    "refresh_token": "",
    "token_time": 0,
    "token_type": "bearer"
}